//Fonts
$main-primary-font: 'Montserrat';
$main-secondary-font: 'Droid Sans';

//Layout
$header-size: 3rem;
$button-size-mobile: 7rem;
$button-size: 8.5rem;
$map-size: calc(18rem + 10px);
$map-size-mobile: 11.5rem;
$map-size-tablet: 18rem;

//Colors
$supergray: rgb(175, 175, 175);
