@import "compass";
@import "breakpoint";
@import "partials/grids";
@import "partials/variables";
@import "partials/layout";
@import "font-awesome";
@import "pages";

.header-container {
  @include full;
  background-color: whitesmoke;
  height: $header-size;
  border-bottom: 2px solid $supergray;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.88);
}

.header-content {
  @include container(960px);
  padding: 0 gutter(12)/2;
  line-height: $header-size;
  .brand {
    display: inline-block;
  }
  img {
    margin-left: 0.5rem;
  }
  .header-nav {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
