@import "compass";
@import "breakpoint";
@import "partials/grids";
@import "partials/variables";
@import "partials/layout";
@import "font-awesome";
@import "pages";

.header-container {
  @include full;
  background-color: rgb(175, 175, 175);
  height: $header-size;
}

.header-content {
  @include container(1080px);
  padding: 0 gutter(12)/2;
  line-height: $header-size;
  .brand {
    display: inline-block;
  }
  .header-nav {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 1rem;
    }
  }
}
