// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: whitesmoke;
}

.about{
    @include gallery(4 of 12);
}

.about-wrapper {
  font-size: 150%;
  padding: gutter(12)/2;
  @include container(1080px);
}

.button-container {
  @include full;
  background-color: whitesmoke;



  #timestamp {
    position:fixed;
    bottom: 0;
  }

  .button-wrapper {
    @include container(1080px);
    padding: gutter(12)/2;
    padding-bottom: none;

  }
  .button-box {
    @include gallery(6 of 12);
    display: flex;
    flex-direction: column;
    border: 2px solid $supergray;
    font-size: 2rem;
    height: $button-size;
    margin-bottom: gutter(12)/2;
    * {
      margin: auto;
    }

    @include breakpoint(700px) {
      @include gallery(4 of 12);
    }
    @include breakpoint(1080px) {
      @include gallery(3 of 12);
    }
  }
  .on{
    color: green;
  }
  .off{
    color: red;
  }
  .clickable{
    cursor: pointer;
  }
  .rpm-text{
    font-size: 15px;
    font-weight:bold;
    margin: 10px auto 5px auto;
  }
}
