<div id="about-wrapper">
  <div class="about">
    <u><h2>Protect</h2></u>
Protect your car
from intruders by
locking, turning off
the engine and
access cameras
from the comfort of
your home.
  </div>
  <div class="about">
    <u><h2>Control</h2></u>
    Monitor and control
your car with direct
access to the
speedometer,
heater, position and
more.
  </div>
  <div class="about">
     <u><h2>Notify</h2></u>
    Get instant
    notifications directly
    to your phone in
    real-time.

  </div>

</div>
