<div id="about-wrapper">
  <div class="about">
    <%= image_tag("thieffix.png", :class => "aboutimg") %>

    <h2>Protect</h2>
    <p>Protect your car
from intruders by
locking, turning off
the engine and
access cameras
from the comfort of
your home.</p>

  </div>
  <div class="about">
    <%= image_tag("monitorsquarefix.png", :class => "aboutimg") %>

    <h2>Control</h2>
    <p>
    Monitor and control
your car with direct
access to the
speedometer,
heater, position and
more.</p>
  </div>
  <div class="about">
    <%= image_tag("notifyfix.png", :class => "aboutimg") %>
     <h2>Notify</h2>
     <p>
    Get instant
    notifications directly
    to your phone in
    real-time.</p>

  </div>

</div>
