<div class="button-container">
  <div class="button-wrapper">
    <div class="button-box">
      <a href="/"><i class="fa fa-power-off fa-2x"></i></a>
    </div>
    <div class="button-box">
      <a href="/"><i class="fa fa-car fa-2x"></i></a>
    </div>
    <div class="button-box">
      <a href="/">Coming soon...</a>
    </div>
    <div class="button-box">
      <a href="/"><%=
        JSON.parse  %>.</a>
    </div>
  </div>
</div>