<div class="button-container">
  <div class="button-wrapper">
    <div class="button-box">
      <i id="power" class="fa fa-power-off fa-2x <%= $redis.get 'power' %>" onclick="togglePower(this)"></i>
    </div>
    <div class="button-box">
      <a href="/"><i class="fa fa-car fa-2x"></i></a>
    </div>
    <div class="button-box">
      <i id="heater" class="fa fa-fire fa-2x <%= $redis.get 'heater' %>" onclick="toggleHeater(this)"></i>
    </div>

    <div class="button-box" id="map">
      <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        //Insert redis coordinates here
        var p15gps = {lat: 63.418138, lng: 10.405877};
        var map = new google.maps.Map(mapDiv, {
          center: p15gps,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: p15gps,
          map: map,
          title: 'P15'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
    </div>

  </div>
</div>
