<div class="button-container">
  <div class="button-wrapper">
    <div class="button-box">
      <i id="power" class="clickable fa fa-power-off fa-2x <%= $redis.get 'power' %>" onclick="toggleOnOff(this)"></i>
    </div>
    <div class="button-box">
      <i id="heater" class="clickable fa fa-fire fa-2x <%= $redis.get 'heater' %>" onclick="toggleOnOff(this)"></i>
    </div>
    <div class="button-box">
      <i id="lock" class="clickable fa fa-lock fa-2x <%= $redis.get 'lock' %>" onclick="toggleOnOff(this)"></i>
    </div>
  </div>
</div>